/************ admin login *********************/

.icon-acc{
    color: #bdbdbd;
}

.brand-logo{
    padding-left: 10px !important;
}

/********* admin dashboard *******************/
.icon-acc2{
    color: grey;
}